<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Page Title -->
    <title>Beat</title>

    <meta name="keywords" content="onepage, single page, band template, retina ready, responsive, modern html5 template, bootstrap, css3, music, band" />
    <meta name="description" content="Beat - Responsive One-Page Music & Band HTML5 Template" />
    <meta name="author" content="Wisely Themes" />

    <!-- Mobile Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/fav_touch_icons/favicon.jpg" />
    <link rel="apple-touch-icon" href="img/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/fav_touch_icons/apple-touch-icon-114x114.png" />

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap CSS -->
    <link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!--登陆横条-->
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            $('[data-toggle="popover"]').popover()
            var personalPage = document.getElementById("personalPage")
            personalPage.setAttribute("href","/userPage?uid="+getCookie("uid"));
            if(getCookie("uid")==[[${UserPageInfo.uid}]]){
               document.getElementById("followBtn").setAttribute("style","display:none")
                document.getElementById("messageBtn").setAttribute("style","display:none")
                $("#lookMessageBtn").show();
            }

            var li1 = document.getElementById("loveSongLi")
            var li2 = document.getElementById("upLoadSongLi")
            li1.onclick= function () {
                li1.setAttribute("class","active")
                li2.setAttribute("class","")
                $("#upLoadSongPart").hide();
                $("#loveSongPart").show();

            }
            li2.onclick = function () {
                li1.setAttribute("class","")
                li2.setAttribute("class","active")
                $("#loveSongPart").hide();
                $("#upLoadSongPart").show();
            }

        });
        var newMessageCount = 0;
        $(function () {
            setInterval(function(){
                if(getCookie("uid")==[[${UserPageInfo.uid}]]){
                    $.ajax({
                        type:"POST",
                        contentType:"application/json;charset=UTF-8",
                        url:"newMessageNumber?receiveUser="+getCookie("name"),
                        success:function (result) {
                            if(result!=newMessageCount) {
                               alert("你有"+result+"条新信息，请尽快查看")
                                newMessageCount = result;
                            }
                            else{
                            }

                        },
                    })
                }
                }, 10000)
        })


    </script>
</head>
<body>
<header id="header">
    <section class="nav-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#home" class="nav-logo"><img src="img/logo_small.png" alt="" height="51" /></a>

                    <nav id="nav"><!-- BEGIN MAIN MENU -->
                        <ul>
                            <li><a href="/index">主页</a></li>
                            <li><a href="/user">音乐</a></li>
                            <li><a id="personalPage">个人</a></li>
                            <li><a id="testss">Store</a></li>
                            <li><a href="#contacts">Contact us</a></li>

                        </ul>
                    </nav><!-- END MAIN MENU -->

                    <ul id="beginUL" class="sn-icons"><!-- BEGIN SOCIAL ICONS -->
                        <li><a href=""><i class="icon-facebook-sign"></i></a></li>
                        <li><a href=""><i class="icon-twitter-sign"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                        <li><a href=""><i class="icon-google-plus-sign"></i></a></li>
                        <li><a href=""><i class="icon-pinterest-sign"></i></a></li>
                        <li><a href=""><i class="icon-rss-sign"></i></a></li>


                    </ul><!-- END SOCIAL ICONS -->
                </div>
            </div>
        </div>
    </section>

</header>
<br/>
<br/>
<br/>
<section>
    <div class="row" style="margin-top: 30px;margin-left: 30px">
        <div class="col-sm-4">
            <img src="SongPic/niaozhishi.jpg">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-2">
                    <h2 id="userName" style="margin-left: 30px" th:text="${UserPageInfo.name}"></h2>
                </div>
                <div class="col-sm-2">
                    <h2 th:text="${UserPageInfo.getSex()}"></h2>
                </div>
                <div class="col-sm-3">
                     <button id="followBtn" class="btn btn-dark btn-icon"   style="font-size: 10px;" onclick="follow()" value=""><i class='icon-leaf' style='font-size: 10px'></i><span>关注</span></button>
                     <button id="messageBtn" class="btn btn-dark btn-icon" data-toggle="modal" data-target="#sendMessageModal"
                             style="font-size: 10px;" value=""><i class='icon-leaf' style='font-size: 10px'></i><span>私信</span></button>
                    <h4 id="messageNumbers"><font color="#87ceeb"></font></h4>
                     <button id="lookMessageBtn" class="btn btn-dark btn-icon" data-toggle="modal" data-target="#messageModal"
                             style="font-size: 10px;display: none" value=""><i class='icon-leaf' style='font-size: 10px' ></i><span>查看私信</span></button>
                </div>
                <div class="col-sm-2">
                    <h2 th:text="${UserPageInfo.getAddress()}"></h2>
                </div>
            </div>
            <hr align="left" style="width: 80%">
            <div class="row" style="margin-top: 20px;margin-left: 10px">
                <h3>个人简介</h3>
                <h4 id="introduction" style="margin-top: 20px" th:text="${UserPageInfo.introduction}"> </h4>
            </div>
        </div>

    </div>
</section>
<!-- Button trigger modal -->



<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">私信框</h4>
            </div>
            <div id="messageModalBody" class="modal-body">
                <table class="table" id="messageTable">

                </table>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel">私信框</h4>
            </div>
            <div class="modal-body">
                <form id="message-form">
                    <span>请输入你要私信的内容</span>
                    <textarea id="messageContent" class="form-control" rows="3"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="message-btn" >发送</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<section>
    <ul class="nav nav-tabs" style="width:80%;margin-left: 20px" >
        <li  id="loveSongLi"><a href="javascript:void(0)" onclick="a1()">收藏的歌曲</a></li>
        <li  id="upLoadSongLi"><a href="javascript:void(0)" onclick="a2()">上传的歌曲</a></li>
        <li ><a href="javascript:void(0)">Messages</a></li>
    </ul>
    <div id="loveSongPart" style="margin-left: 30px">
        <table id="musicTable" class="table table-striped" data-query-params="queryParams"
               data-toolbar="#toolbar"
               data-pagination="true"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-page-size="5"
        style="border-top:0">
            <tr>
            <td align="center" style="background: #2c3136;border-top:0">歌名</td>
            <td align="center" style="background: #2c3136;border-top:0">歌手</td>
            <td align="center" style="background: #2c3136;border-top:0">播放按钮</td>
            </tr>
            <tr th:each="loveSong,listStat : ${listOfSong}">
                <td align="center" style="background: #2c3136;border-top:0" th:text="${loveSong.getSong_name()}"></td>
                <td align="center" style="background: #2c3136;border-top:0" th:text="${loveSong.getAuthor()}"></td>

            </tr>

        </table>
    </div>
    <div id="upLoadSongPart" style="display:none;margin-left: 30px;">
        <ul id="upUL">
            <li>
                111
            </li>
        </ul>
        <ul id="downUL">
            <li>
                2223
            </li>
        </ul>
    </div>
</section>
    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
<footer id="footer" class="bg-color2">
    <ul class="sn-icons"><!-- BEGIN SOCIAL ICONS -->
        <li><a href=""><i class="icon-facebook-sign"></i></a></li>
        <li><a href=""><i class="icon-twitter-sign"></i></a></li>
        <li><a href=""><i class="icon-instagram"></i></a></li>
        <li><a href=""><i class="icon-google-plus-sign"></i></a></li>
        <li><a href=""><i class="icon-pinterest-sign"></i></a></li>
        <li><a href=""><i class="icon-rss-sign"></i></a></li>
    </ul><!-- END SOCIAL ICONS -->
</footer>
</body>
<script type="text/javascript" th:inline="javascript">


    var li1 = document.getElementById("loveSongPart")
    var li2 = document.getElementById("upLoadSongPart")
    function a1(){
        li1.setAttribute("class","active")
        li2.setAttribute("class"," ")
        $("#upLoadSongPart").hide();
        $("#loveSongPart").show();
    }
    function a2() {
        li2.setAttribute("class"," ")
        li1.setAttribute("class","active")
        $("#loveSongPart").hide();
        $("#upLoadSongPart").show();
    }
    function follow(){
            $.ajax({
            type:"GET",
            contentType:"application/json;charset=UTF-8",
            url:"follow?userName="+[[${UserPageInfo.name}]]+"&uid="+getCookie("uid"),
            success:function (result1) {
                if(result1.code==1){
                    alert("关注成功")
                }
                else{
                    alert("这个小可爱已被您关注过了")
                }
            },
            error:function () {
                alert("网络出了点问题，请稍等")
            }
        })
    }
    $("#lookMessageBtn").click(function () {
        $("#messageTable").empty();
        $.ajax({
            type:"POST",
            contentType:"application/json;charset=UTF-8",
            url:"receiveMessage?receiveUser="+getCookie("name"),
            success:function (result) {
                var table = document.getElementById("messageTable")
                for (var i = 0; i < result.length ; i++) {
                    var tr = getDataRow(result[i])
                    table.appendChild(tr)
                }
                newMessageCount = 0;
                function getDataRow(h) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerText = h.sendUser;
                    tr.appendChild(td1);
                    var td2 = document.createElement("td");
                    td2.innerText = h.createTime;
                    tr.appendChild(td2)
                    var td3 = document.createElement("td");
                    var button = document.createElement("button")
                    button.setAttribute("class","btn btn-default")
                    button.onclick = function(){
                        alert(h.message)
                    }
                    button.innerHTML = "查看信息"
                    td3.appendChild(button)
                    tr.appendChild(td3)
                    return tr;
                }
            },
            error:function () {
                alert("网络出了点问题，稍等")
            }
        })
    })
    $("#message-btn").click(function () {
        var data = {
            "message":$('#messageContent').val(),
            "sendUser":getCookie("name"),
            "receiveUser":[[${UserPageInfo.name}]]
        }
        $.ajax({
            type:"POST",
            contentType:"application/json;charset=UTF-8",
            data:JSON.stringify(data),
            url:"sendMessage",
            success:function () {
                alert("发送成功")
            },
            error:function () {
                alert("网络出了点问题")
            }
        })
    })
</script>
<script src="js/util.js"></script>
<script src="js/header.js"></script>
</html>